@use "../main-page/include/products";
@use "../../variables" as *;

.item-added-cart {
    width: 10%;
    position: absolute;
    right: 15px;
    top: 52px;

    img {
        margin-left: 28px;

        @include media(md) {
            margin-left: 0;
        }
    }

    @include media(md) {
        position: static;
    }

    @include media(lg) {
        width: calc(15% + 29px);
    }

}

.basket-table-item {
    &:first-child {
        border-top: 1px solid #D8E2FE;
    }
}

.basket-table {
    margin-top: 16px;

    @include media(md) {
        margin-top: 20px;
    }

    @include media(lg) {
        margin-top: 56px;
    }

    &-count {
        visibility: hidden;    
    }
}
.loaded .basket-table-count {
    visibility: visible;
}

.favorite-page .missing .basket-table-count {
    width: auto;
}

.favorite-page .basket-table-count .goods-card-buy__btn,
.favorite-page .basket-table-count div {
    max-width: 163px;
}
.favorite-page .basket-table-count div {
    display: none;
    
}

@include media(lg) {
    .basket-table-item__sum {
        width: calc(15% + 200px);
    }
    .favorite-page .basket-table-count {
        width: 35%;
    }
}

.basket__clean {
    margin-top: 41px;
}

.favorite-bottom {
    margin-top: 32px;

    @include media(lg) {
        margin-top: 40px;
    }
}
.basket-table-item.missing div.favorite-icon {
    opacity: 1;
}
.loaded .favorite-icon {
    &:before,
    &:after {
        display: block;
    }
}
.favorite-icon {
    $size: 24px;

    cursor: pointer;
    width: $size;
    height: $size;

    &:before,
    &:after {
        content: '';
        display: none;
        position: absolute;
        right: 0;
        width: $size;
        height: $size;
        transition-duration: .2s;
    }

    &:before {
        background: url($imgPath + "/svg/heart-dark.svg") 0 0 no-repeat;
        background-size: $size;

        z-index: 1;
    }

    &:after {
        background: url($imgPath + "/svg/heart-blue.svg") 0 0 no-repeat;
        background-size: $size;

        z-index: 2;
        opacity: 0;
    }

    &--added {
        &:after {
            background: url($imgPath + "/svg/heart-blue.svg") 0 0 no-repeat;
            background-size: $size;
            opacity: 1;
        }
    }
}