@use "../../variables" as *;

button.f-button {
    background: transparent !important;
}
.fancybox__footer {
    background: transparent !important;
}
.f-button.is-next, .f-button.is-prev {
    display: none;
    
    @include media(md) {
        display: block;
    }
}

.news {
    margin: 26px 0 56px;

    &__title {
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }

    &-info {
        margin: 16px 0 27px;
        font-size: 14px;
        font-weight: 400;
        
        @include media(md) {
            margin: 16px 0 12px;
        }

        &__item {
            display: flex;
        }

        &__name {
            margin-left: 24px;
        }

        &__date {
            width: 65px;

            @include media(md) {
                width: 87px;
            }
        }
    }
}